<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>

		<!-- Standard console logging that logs only warnings or above to reduce noise when debugging -->
		<Console name="Console" target="SYSTEM_OUT">
			<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level &lt;%X{id}&gt; (%X{username}) [%t] %C{-3}.%M(%F:%L) %msg%n"/>
		</Console>

		<!-- Standard rolling log file. Writes relative to where the web container deploys apps to on the server  -->
		<RollingFile name="rollingFileAppender" fileName="${env:CATALINA_BASE}/logs/rmj.log" filePattern="${env:CATALINA_BASE}/logs/rmj.%d{MM-dd-yyyy}-%i.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level &lt;%X{id}&gt; (%X{username}) [%t] %C{-3}.%M(%F:%L) %msg%n"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB"/>
			</Policies>
			<DefaultRolloverStrategy min="1" max="4"/>
		</RollingFile>

	</Appenders>
	<Loggers>

		<Root level="ALL">
			<AppenderRef ref="Console"/>
		</Root>

		<Logger name="uk.co.vhome.rmj" level="INFO">
			<Appender-ref ref="rollingFileAppender"/>
		</Logger>

	</Loggers>
</Configuration>