a.social-buttons {
    display: inline-block;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    line-height: 40px;
    outline: 0;
}

a.social-buttons.small {
    height: 10px;
    width: 10px;
    line-height: 10px;
}